server {
      listen        ${NGINX_PORT};
      server_name    ${NGINX_HOST};
      if ($http_x_forwarded_proto != "https") {
          rewrite ^(.*)$ https://$server_name$REQUEST_URI permanent;
      }
}
